/* Main nav*/

.navbar {
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  margin-left: 200px;
  border: none;
  min-height: 50px;
  border-radius: 0;
  background-color: #202020;
}
/* Style the sidebar */

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }

  hr {
    margin: 0;
    color: inherit;
    background-color: white;
    border: 1;
    opacity: .25;
}
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }


  /* Body header*/
  .body-header {
    position: relative;
    padding: 15px 15px 0;
    padding-bottom: 5px;
    padding-left: 200px;
    }

    .body-header > h1 {
        font-size: 24px;
        padding-left: 10px;
    }

    .card-header {
        background-color: #fff;
    }

    .card-header h5,h4 {
        color: white;
    }
    .bg-teal {
        background-color: #39cccc !important;
    }

    /* Table section*/

    .box-header .box-title {
      font-size: 24px;
    }
    .main-table {
      margin-top: 100px;
    }

    .table-responsive {
      max-height: 300px;
    }



    /* Assets Element - Form */

  .container {
    padding-top: 25px;
  }

  .form-group > label {
    flex-basis:100px
  }
  .form-container {
    margin-left: 25%;
    margin-right: 15%;
    border-radius: 5px;
    padding: 20px;
    background-color: #f6f6f6;
  }


  /* Hardware */
